/*
Colors used:
Primary Color (Rust): #A7583A;
Secondary Color (Green): #789B5C;
*/
* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: black;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: #A7583A 
}

a:hover {
    color: #692A12 
}

a:focus {
    color: #A7583A;
    text-decoration: underline;
}

.button {
    display: inline-block;
    background-color: #A7583A;
    color: white;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #A7583A;
    transition: 0.2s opacity; 
}

.button:hover {
    opacity: 0.8;
}

.button.contact {
    background-color: white;
    color: #A7583A;
    text-transform: uppercase;
    border: 2px solid white;
}

.button.contact:hover {
    background-color: #A7583A;
    color: white;
}
footer {
    background-color: #A7583A;
    color: white;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
}
header {
    background-color: white;
	border: solid #A7593A 0; 
    position: fixed;
    width: 100%;
    padding: 10px 0 4px;
}
#hero {
    background-color: #A7583A;
    color: white;
    font-weight: 400;
    padding: 20px;
    display: inline-block;
    width: 100%;
    padding-top: 50px;
}
#work {
    background-color: white;
    color:black;
}
#socialicons {
    width: 100px;
}
footer {
    background-color: #A7583A;
    color: white;
    font-weight: 400;
    text-align: center;
}
.logo {
    max-width: 150px;
}
/* Layout styling */
.container {
    padding: 0 15px;
}
.row {
    margin: 25px 0;
}
#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #A7583A;
}
#hero h1 {
    text-align: center;
    font-size: 25px;
    margin: 0;
}
#hero h2 {
    text-align: center;
    font-size: 18pt;
    font-weight: 400;
    margin: 5px;
}
#hero p {
    text-align: center;
}
#hero span {
    display: block;
}
.logo {
    max-width: 250px;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: -10px;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #A7583A;
    text-decoration: none;
}
nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #A7583A;
    text-decoration: underline;
}
main {
    padding-top: 56px;
}
#work h1 {
    text-align: center;
}
#work h2 {
    text-align: center;
}
#work h3 {
    text-align: center;
}
#work p {
    text-align: center;
}
.social {
    list-style-type: none;
    padding:0;
    margin-left: -10px;
}
.social li {
    display:inline-block;
}
.social img {
    height: 60px;
    width: 60px;
    padding-left: 10px;
    padding-right: 10px;
}
.secondarybutton {
    text-align: center;
    color:#A7583A;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.navtoggle li:not(:last-child){
    display: none;
}
.navtoggle, .navtoggle.responsive {
    position: relative;
  }
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 20px;
    padding-right: 0;
  }
  .navtoggle.responsive li  {
    display: block;
  }
  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #A7583A;
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }
  .headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /*animation*/
  @keyframes color-change {
    0% {fill: #f7be2b}
    50% {fill:#F7742B}
    100% {fill:#FFF48E}
}
@keyframes cloud-move {
    from {transform:translate(0,50px);}
    to {transform:translate(700px,50px);}
}
@keyframes cloud-move-reverse {
    from {transform:translate(700px,50px);}
    to {transform:translate(0,50px);}
}
.sun {
    animation-duration: 5s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.cloud-1 {
    animation-duration: 5s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.cloud-1-2 {
    animation-duration: 5s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.cloud-1-3 {
    animation-duration: 5s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.cloud-2 {
    animation-duration: 5s;
    animation-name: cloud-move-reverse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.cloud-2-2 {
    animation-duration: 5s;
    animation-name: cloud-move-reverse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.cloud-2-3 {
    animation-duration: 5s;
    animation-name: cloud-move-reverse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.cloud-3 {
    animation-duration: 5s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.cloud-3-2 {
    animation-duration: 5s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.cloud-3-3 {
    animation-duration: 5s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

/*Media Queries*/

/*clear page flow*/
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /*float all columns left*/
  [class*="col-"] {
    padding: 10px;
  }
  
  /* ==============================
  Medium devices (640px and larger)
  ================================= */
  @media only screen and (min-width: 640px) {
    body {
      font-size: 18px;
    }
      
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }
  
    nav {
      width: auto;
      float: right;
    }
      
    .col-md-6 {
      width: 50%;
      float: left;
      padding-bottom: 40px;
    }
    .logo {
        width: 100%;
    }
    nav > ul > li {
        display: inline-block;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
      }
    .navtoggle li:last-child {
        display: none;
      }
  }
  nav > ul {
    margin: 1em 0;
  }
  
  
  
  /* ==============================
  Large devices (1024px or larger)
  ================================= */
  @media only screen and (min-width: 1024px) {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    .col-lg-7 {
      width: 60%;
    }

    .col-lg-5 {
      width: 40%;
    }
      
    .col-lg-7 {
      width: 60%;
      float: left;
      padding-bottom: 40px;
    }
    .col-lg-5 {
      width: 40%;
      float: right;
    }
      
     #about-page .col-md-6 {
       width: 100%;
    }
  }
